<div class="wg">
  <div class="wgc">
    <div class="wgcc">
      <div class="top_line flex">
        <div class="l flex">
          <button class="button3" 
          (click)="startSnake();"
          *ngIf="!game_started">
            Начать
          </button>
          <button class="button3" 
          (click)="stopSnake()"
          *ngIf="game_started && !is_pause">
            Стоп
          </button>
          <button class="button2" 
          (click)="pauseSnake()"
          *ngIf="game_started">
            {{is_pause ? 'Продолжить' : 'Пауза'}}
          </button>
          <button class="button3" 
          (click)="saveSnake()"
          *ngIf="is_pause" id="save">
            Сохранить
          </button>
          <button class="button2" 
          (click)="loadSnake()"
          *ngIf="!game_started || is_pause">
            Загрузить
          </button>
          <!-- <button class="button2"
          *ngFor="let page of pages">
            {{page}}
          </button> -->
        </div>
        <div class="c">
          <span [style.color]="color_bals">cur: {{bals}}</span>
          <span [style.color]="color_bals"> max: {{max_bals}}</span>
        </div>
        <div class="r">
          <button class="button1 hover_show" style="padding: 2px 5px; height: 33px !important;" 
            *ngIf="!game_started"
            [style.pointerEvents]="game_started ? 'none' : 'all'">
            Настройки
          </button>
          <div class="settings">
            <div class="button3" (click)="return_settings()" style="width: 200px;">
              по умолчанию
            </div>
            <span>
              Скорость обновления в мс (больше - медленее):
              <input type="number" [value]="game_speed" style="width: 100px;" min="10" max="1000" 
              (change)="setGameSpeed(gs.valueAsNumber)" #gs> 
            </span>
            <span>
              Шаг повышения скорости: 
              <input type="number" [value]="speed_up" style="width: 100px;" max="100" min="1"
              (change)="setSpeedUp(su.valueAsNumber)" #su>
            </span>
            <span>
              Размер ячейки поля: 
              <input type="number" [value]="cell_size+4" style="width: 100px;" 
              (change)="setCellSize(cs.valueAsNumber)" #cs>
            </span>
            <span>fieldX: 
              <input type="number" [value]="x" style="width: 100px;" 
                (input)="x = x1.valueAsNumber;changeFieldSize()" #x1>
            </span>
            <span>fieldY: 
              <input type="number" [value]="y" style="width: 100px;" 
                (input)="y = y1.valueAsNumber;changeFieldSize()" #y1>
            </span>
            <span>
              Ускорение
              <input type="number" [value]="acceleration" style="width: 100px;" 
                (change)="setAcceleration(acc.valueAsNumber)" #acc>
            </span>
            <button class="{{schet_po_size ? 'button3' : 'button2'}}" 
            (click)="schet_po_size = !schet_po_size">
              {{schet_po_size ? 'Рассчывать размер поля' : 'Рассчывать размер ячейки'}}
            </button>
            <button class="button2" (click)="setTheme(true)">
              Сменить тему
            </button>
            <button class="button3" (click)="raschet()">
              Рассчитать
            </button>
          </div>
        </div>
      </div>
      <div class="game_wrapper" [style.flexDirection]="landing ? '' : 'column'">
        <div class="game_container" id="game_container">
          <table>
            <tr *ngFor="let row of field">
              <td *ngFor="let col of row.cols"
              class="td y{{row.rowId}}! x{{col.colId}}"
              [style.width]="cell_size + 'px !important'"
              [style.height]="cell_size + 'px !important'"
              >
              <!-- [style.backgroundColor]="col.fill"  -->
  
              </td>
            </tr>
          </table>
        </div>
        <table class="gamepad">
          <tr class="row">
            <td class=""></td>
            <td class="col ggreen" (click)="changeNapravlenie({key: 'w'})"><div style="transform: rotate(-90deg);">></div></td>
            <td class=""></td>
          </tr>
          <tr class="row">
            <td class="col ggreen" (click)="changeNapravlenie({key: 'a'})"><div><</div></td>
            <td class="col gred" (click)="clickKrug()" ><div>o</div></td>
            <td class="col ggreen" (click)="changeNapravlenie({key: 'd'})"><div>></div></td>
          </tr>
          <tr class="row">
            <td class=""></td>
            <td class="col ggreen" (click)="changeNapravlenie({key: 's'})"><div style="transform: rotate(90deg);">></div></td>
            <td class=""></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>