@import "./app/shared/styles/vars.scss";
html, body, .mat-body, .mat-body-1, .mat-typography {
    height: 100%;
    margin: 0;
    font: 400 14px / 20px Roboto, "Helvetica Neue", sans-serif !important; 
}
body {
    background-color: $background;
    overflow: hidden;
}
.wg {
    width: 100%;
    height: 100%;
    .wgc {
        // padding: 5px;
        box-sizing: border-box;
        // padding: 10px 10px 130px; Если есть пагинатор
        padding: 5px;
        width: 100%;
        height: 100%;
        .wgcc {
            box-sizing: border-box;
            padding: 10px;
            box-shadow: $magic_shadow;
            background-color: $z8_color;
            border-radius: 5px;
            width: 100%;
            height: 100%;
            &.f {
                display: flex;
                flex-direction: column;
            }
        }
    }
}
.flex {
    display: flex;
}
.button2 {
    z-index: 1; //Я ДОБАВИЛ ДЛЯ idisabled
    user-select: none;
    height: 40px;
    color: $violet;
    border: 1px solid $violet !important;
    cursor: pointer;
    border-radius: 5px;
    transition: .2s;
    padding: 0 10px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    &:not(.disabled, .disabled2) { 
        &:hover {
            transform: scale(1.03);
            // zoom: 1.03;
        }
        &:active {
            transform: scale(0.95);
        }
    }
    &[disabled=""] {
        background-color: unset;
        color: gray !important;
        border-color: gray !important;
        opacity: .5;
        cursor: default !important;
    }
}
.button3 {
    z-index: 1; //Я ДОБАВИЛ ДЛЯ idisabled
    user-select: none;
    height: 40px;
    background-color: $violet;
    border: 1px solid $violet !important;
    cursor: pointer;
    border-radius: 5px;
    transition: .2s;
    padding: 0 10px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    color: white;
    &:not(.disabled, .disabled2) {
        &:hover {
            transform: scale(1.03);
            // zoom: 1.03;
            // padding: 1px 11px;  
            // margin: -4px -9px 0;
        }
        &:active {
            transform: scale(0.95);
        }
    }
    &[disabled=""] {
        background-color: unset;
        color: gray !important;
        border-color: gray !important;
        opacity: .5;
        cursor: default !important;
    }
}
.button1 {
    z-index: 1; //Я ДОБАВИЛ ДЛЯ idisabled
    user-select: none;
    height: 40px;
    color: $violet;
    border: 1px solid $violet !important;
    cursor: pointer;
    border-radius: 5px;
    transition: .2s;
    padding: 0 10px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    &.m {
        margin: 0 5px;
    }
    // background-color: white;
    &:hover {
        background-color: rgba(0, 0, 0, 0.05);
    }
    &:hover[disabled=""] {
        background-color: unset;
    }
    &[disabled=""] {
        color: gray !important;
        border-color: gray !important;
        opacity: .5;
        cursor: default !important;
    }
}
/// Прописывать в верхнюю часть любой таблицы
.top_line {
    box-sizing: border-box;
    padding: 0 15px 0 20px;
    margin: 10px 0 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &.nm {
        margin: 0px 0 15px !important;
    }
    &.h52 {
        height: 52px;
    }
    .button1, .flex {
        margin: 0 5px 0 0;
    }
    .button1, .button2, .button3 {
        height: 33px !important;
    }
    .left, .right {
        align-items: center !important;    
        flex-wrap: wrap;
    }
    mat-form-field, .button1 {
        margin: 0 10px 0 0;
    }
    mat-form-field {
        position: relative;
        top: 10px;
    }
}